@import '../../../components/core/assets/styles/base/base.scss';


main.main-content{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
        font-size: 2em;
    }
    .homebtn{
        padding: 10px;
        display: flex;
        margin: 20px;
        background: #4d4d8a;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
    }
}
