.mission-home-container {
    display: flex;
    flex-flow: wrap;
    background: #e8e3e3;
    justify-content: center;
    margin: 0px 20px;
    .mission-card-block {
        flex-basis: 78%;
        max-width: 78%;
        display: flex;
        justify-content: flex-start;
		flex-wrap: wrap;
		.default-block{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			max-width: 100vh;
			width: 100%;
			h5{
				margin:0px;
			}
			.default-content {
				text-align: center;
				font-size: 2em;
			}
		}

    }

    .mission-filter-block {
        flex-basis: 21%;
        max-width: 21%;
        display: flex;
        max-height: 760px;
        flex-grow: unset;
        flex-wrap: wrap;
        margin-right: 1%;
    }
}

@media (max-width: 1024px) and (min-width: 700px) {
    .mission-home-container {
        .mission-card-block {
            flex-basis: 69%;
            max-width: 69%;
        }
        .mission-filter-block {
            flex-basis: 30%;
            max-width: 30%;
        }
    }
}
@media (max-width: 699px) {
    .mission-home-container {
        display: flex;
        flex-direction: column;
        .mission-card-block {
            flex-basis: 100%;
            max-width: 100%;
        }
        .mission-filter-block {
            flex-basis: 100%;
            max-width: 100%;
            margin-bottom: 10px;
            max-height: 100%;
        }
    }
}
