@import '../../core/assets/styles/base/base.scss';

.mainContainer {
    position: relative;

    & .loginLayout {
        max-width: 100%;
        padding: 0;
    }
}

.contentContainer {
    min-height: 56vh;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;

    @media (--viewport-md) {
        min-width: 0;
        padding: 0 22px;
        min-height: 46vh;
    }

    @media (--viewport-sm) {
        min-width: 0;
        padding: 0;
    }
}

.mainContainer {
    header {
        font-size: 1.3em;
        margin:20px;
    }
    footer{
        text-align: center;
        font-size: 1.3em;
    }
}
