.mission-filter-container {
    background-color: #fff;
    padding:5px 10px 20px 10px;
    border-radius: 15px;
    margin:15px 0px;
    .filter-heading{
        margin:0px;
    }
    ul {
        display: flex;
        flex-flow: wrap;
        padding: 0px;
    }

    li.filter-btn {
        &.active {
            background-color: #14a02cd9;
        }
        flex-basis: 32%;
        max-width: 32%;
        padding: 7px;
        background-color: #1ae23d52;
        margin: 10px;
        color: #000;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
    }
    .sec-heading {
        text-align: center;
        border-bottom: 1px solid #c1c1c1;
        font-size: 16px;
    }
}

@media(max-width:699px){
    .mission-filter-container ul{
        justify-content: center;
    }
}


