@import "../../core/assets/styles/base/base.scss";

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader-overlay {
  background: rgba(0, 0 ,0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loaderImage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  height: 80px;
  width: 80px;
}

.loadingCircle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  border: 3px solid rgba(255, 255 ,255, 0.7);
  border-top-color: rgba(0, 0 ,0, 0.7);
  animation: loading-spinner 0.5s infinite linear;
}

@keyframes loading-spinner {
  100% {
    transform: rotate(360deg);
  }
}
