.mission-card-container {
    display: flex;
    flex-direction: column;
    flex-basis: 17.7%;
    max-width: 17.7%;
    width: 100%;
    background: #ffff;
    margin: 15px 7.5px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    padding:20px 20px;
    box-shadow:  3px 4px 2px #d2cbcb;
    .card-img-block {
        .card-img {
            width: 100%;
            background: #e8e3e3;
            margin-bottom: 10px;
        }
    }
    .card-details {
        .mission-name {
            color: #434398;
            font-size: 1.2em;
            margin: 0px;
            max-width: 170px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .label {
            font-weight: bold;
            color: #000;
            font-size: 1em;
            margin: 10px 0px;
        }
        ul{
            li{
                color: #5a5ac7;
                font-weight: bold;
            }
        }
        span.value {
            color: #5a5ac7;
        }
    }
}

@media (max-width:1024px) and( min-width:700px){
    .mission-card-container{
        flex-basis: 39%;
        max-width: 39%;
    }
}

@media (max-width:699px){
    .mission-card-container{
        flex-basis: 100%;
        max-width: 100%;
        margin:10px 0px;
        .card-details {
            .mission-name {
                max-width: 300px;
            }
        }
    }
}

@media(min-width:700px){
    .mission-card-container{
        max-height: 424px;
    }
}

@media(min-width:1000px){
    .mission-card-container{
        max-height: 450px;
    }
}
@media(min-width:1441px){
    .card-details {
        .mission-name {
            max-width: 100%;
        }
    }
}